.logoAuctionHouse{
position: relative;
  left: 0;
  top: -5px;
  font-weight: 10;
}
.logoAuctionHouse :hover{
    text-decoration: none;
    color:red;
    cursor: pointer;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    padding-left: 0px;
}


li{
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: rgb(218, 95, 50);
    text-decoration: none;
}
