ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: transparent;
}  
ul.tab li{
  float: left;
  padding-right: 1px;
}

ul.tab li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* Change background color of links on hover */
ul.tab li a:hover {
  background-color:  #7971ea;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
  background-color:  #7971ea;
  border-bottom-color: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;    
    border-top: none;
  }

/* The Modal (background) */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }
/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
    }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    }
    .close:hover,.close:focus {
    color: red;
    cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
    animation: zoom 0.6s
    }
    @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
    }

  