@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background:url('cover.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
.error{
    color:#ff0000;
    padding: 12px;
}

.signupBox{
    max-width: 350px;
    border-radius: 20px;
    background: none;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 70px;
    background: rgba(0,0,0, 0.8);
}
input[type=text],input[type=password],input[type=email],input[type=date]{
    width:100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0, 0.1);
    outline: none;
    border:none;
    border-bottom: 1px solid ;
    border-bottom-color: #5bc220;
    color:#ffffff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
input[type=submit]{
    width:100%;
    box-sizing: border-box;
    padding:10px;
    outline: none;
    border:none;
    margin-top:30px;
    background: #5bc220;
    border-radius:20px;
    opacity: 0.7;
    font-size: 20px;
}
input[type=reset]{
    width:30%;
    margin-top:15px;
    padding:-5px;
    outline: none;
    border:none;
    border-radius:20px;
    opacity: 0.7;
    box-sizing: border-box;
    background: #990101;
    color:#ffffff;
}

/*Container  */
.container{
    width:100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0, 0.1);
    outline: none;
    border:none;
    /*border-bottom: 1px solid ;
    border-bottom-color: #5bc220;*/
    color:#dfd7d7;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}

.containerCurrency{
    width:100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0, 0.1);
    outline: none;
    border:none;
    border-bottom: 1px solid ;
    border-bottom-color: #5bc220;
    color:#dfd7d7;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}
.containerCurrency .select{
    width: 10%;
    opacity: 0.1;
    background:url('arrow.png') no-repeat;
    background-position:100% right;
  }
  
